body {
  height: 100vh;
  background-image: url(./imgs/gaming-bg.jpg);
  background-size: cover;
}

.project-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: #b0211f;
  text-transform: uppercase;
  text-shadow: 0 10px 40px;
}

h2 {
  text-align: center;
  font-size: 22px;
  color: #b0211f;
  text-transform: uppercase;
  text-shadow: 0 10px 40px;
}

.container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.title-refresh {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #b0211f;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recent-scores {
  min-height: 270px;
  width: 40%;
  background: #ffecec;
  border: 5px solid #b0211f;
  border-radius: 14px;
}

.recent-scores h2 {
  margin-left: 5px;
}

.recent-scores ul > li {
  padding: 5px;
  color: white;
  background-color: rgb(43, 42, 42);
  text-transform: capitalize;
}

.recent-scores ul > li:hover {
  font-size: 20px;
}

.recent-scores ul > li:nth-child(odd) {
  background-color: #d65a58;
}

ul {
  border: none;
  list-style: none;
  padding: 0;
  text-align: center;
}

button {
  height: 40px;
  transform: translate(-7px, 10px);
  color: white;
  background-color: black;
  border-color: red;
  border-radius: 14px;
  text-transform: uppercase;
  text-shadow: 0 2px 10px;
  font-size: 18px;
}

button:hover {
  transition: 1s;
  background-color: #d65a58;
  font-size: 20px;
  border-radius: 20px;
}

.input {
  width: 90%;
  height: 40px;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  outline: none;
  border-radius: 10px;
}

.input::placeholder {
  text-align: center;
  font-size: 22px;
}

input:last-child {
  width: 40%;
  align-self: center;
  background-color: white;
  color: black;
  border: 1px solid #b0211f;
  border-radius: 14px;
  height: 40px;
  font-size: 22px;
  text-transform: uppercase;
  text-shadow: 0 3px 10px;
}

input:last-child:hover {
  transition: 1s;
  background-color: #d65a58;
  font-size: 23px;
  border-radius: 20px;
}

.add-score {
  min-height: 270px;
  width: 40%;
  background: black;
  border: 5px solid #b0211f;
  border-radius: 14px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
  }

  .add-score {
    width: 100%;
  }

  .recent-scores {
    width: 100%;
  }

  h1 {
    font-size: 40px;
  }
}
